/**
 * Describe: 公共颜色
 */

//灰度色系start
$white: #ffffff;
$text0: #4a4a4a; //标题色、文字主色
$text1: #666666; //副标题
$text2: #999999; //注释文字
$text3: #bbbbbb; //辅助文字
$text4: #cccccc; //辅助文字
$text5: #dddddd; //辅助文字
$border0: #eeeeee; //线条类
$bg0: #f2f2f2; //背景相关
$bg1: #f5f5f5; //背景相关
$bg2: #f9f9f9; //背景相关
$bg3: #fafafa; //背景相关
//灰度色系end